.alerts-card {

  margin-top: 35px;

  padding: 25px;

  border-radius: 25px;

  background:
    rgba(255,255,255,0.05);

  border:
    1px solid rgba(255,255,255,0.1);

  backdrop-filter: blur(10px);

}

.alerts-card h2 {

  margin-bottom: 20px;

  color: #ff5555;

}

.alert-item {

  display: flex;

  align-items: center;

  gap: 14px;

  padding: 16px;

  border-radius: 16px;

  margin-top: 15px;

  font-weight: 500;

}

.alert-item svg {

  font-size: 1.3rem;

}

/* SAFE */

.safe {

  background:
    rgba(0,255,100,0.1);

  color: #00ff99;

}

/* WARNING */

.warning {

  background:
    rgba(255,200,0,0.1);

  color: #ffd000;

}

/* DANGER */

.danger {

  background:
    rgba(0,150,255,0.1);

  color: #33bbff;

}

/* ACCIDENT */

.accident {

  background:
    rgba(255,0,0,0.1);

  color: #ff5555;

}