.sensor-card {

  margin-top: 35px;

  padding: 30px;

  border-radius: 25px;

  background:
    rgba(255,255,255,0.05);

  border:
    1px solid rgba(255,255,255,0.1);

  backdrop-filter: blur(10px);

}

.sensor-card h2 {

  margin-bottom: 25px;

  color: cyan;

}

.sensor-grid {

  display: grid;

  grid-template-columns:
    repeat(auto-fit, minmax(200px, 1fr));

  gap: 20px;

}

.sensor-item {

  padding: 25px;

  border-radius: 18px;

  background:
    rgba(255,255,255,0.04);

  text-align: center;

  transition: 0.3s;

}

.sensor-item:hover {

  transform: translateY(-5px);

  box-shadow:
    0 0 20px rgba(0,255,255,0.15);

}

.sensor-icon {

  font-size: 2rem;

  color: cyan;

  margin-bottom: 15px;

}

.sensor-item h3 {

  color: white;

  margin-bottom: 10px;

}

.sensor-item p {

  color: #aaa;

}