html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;

  background: #050816;

  font-family: "Poppins", sans-serif;

  overflow-x: hidden;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0b1023;
}

::-webkit-scrollbar-thumb {
  background: cyan;

  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00e5ff;
}